/* footer*/
.contact_us{
    background-color: #DA0009;
    color: white;
    width: 200px;
    height:40px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

@-webkit-keyframes scroll{
    0%{
        -webkit-transform: translate(0, 0);
    }
    100%{
        -webkit-transform: translate(-100%, 0);
    }
}

.animate{
    display: block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden; 

    li{
        display: inline-block;
        padding-left: 100%;
        -webkit-animation: scroll 10s infinite linear;
    }
}

.contact_container{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    margin-top: 60px;
}

.location_icon{
    width: calc(28px/1rem);
    height: calc(28px/1rem);
}

.svg_icon{
    width: calc(28px/1rem);
    height: calc(28px/1rem);
}

.border{
    margin: 0;
    padding: 0;
}

.item_icon{
    /* align-self: flex-start; */
    /* position: relative; */
    border: 2px grey solid ;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.position{
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.foot_nav__container{
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
    margin-top: 40px; 
}

.foot_nav{
    display: flex;
    flex-wrap: wrap; 
    
    li {
        list-style-type: none;
    }
}

.foot_nav_items{
    flex: 0 0 30%;
}

.nav_icons{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

    li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.foot_copywrite{
    margin: auto;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;   
    letter-spacing: 10px;
    border-top: 1px solid #868786 ;
}

.nav_icon .icons{
   align-items: flex-start ;

}


