/*Navigation-logo Text, Navigation container & extra navbar*/
.navigation_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px #EEE solid;
    font-size: 1.5rem;
    height: 100px;

    a {
        color: #868786;
    }
}

/*Logo Text*/
.navigation_container__image {
    flex: 0 1 14%;
    border-right: 1px #EEE solid;
    height: 100px;

    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        margin:10px;
        padding: 10px;
    }
}

/*Navigation container*/
.navigation_container__navigation {
    flex: 0 1 59%;
    height: 100px;
    background-color: white;
}

.empty_navigation_container__navigation {
    display: none
}

.navigation_container__navigation ul{
    display: flex;

    li{
        font-size: 16px;
        padding: 1.5rem;
        list-style-type: none;

        a:hover{
            color: red;
        }
    }
}

/*extra Navbars*/
.navigation_container__extras {
    flex: 0 1 24%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-left: 1px #EEE solid;
    height: 100px;

    img{
        margin:20px;
        padding: 20px;
        width:20px;
        float: left;

        a:hover{
            background-color: red;
        }
    }

}

.shop{
    color: #00ff;
    float: left;
    padding: 23px;
    margin: 20px;
    font-size: 1rem
}

.shop:hover{
    color: red;
}

i{
    margin:20px;
    padding: 20px;
}

.section-one {
    flex: 0 1 49%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-right: 1px #EEE solid;
}

.icon:hover{
    color: red;
}

.message {
    flex: 0 1 49%;

    &:hover{
        background-color: red;
    }
}

a{
    text-decoration: none;
}